@if(totalPrice){
    <section class="w-[90%] mx-auto my-10">
      <h2 class="capitalize font-black text-3xl text-green-400 capablities py-4">
    Cart Products
  </h2>
  <div class="flex justify-between align-center gap-5">
    <div class="md:w-2/3">
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
            <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-100 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-16 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Product
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Qty
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Price
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (carProductItem of cartProductList; track $index) {
                    <tr class="bg-white border-b dark:bg-gray-300 dark:border-gray-700 border-gray-200 hover:bg-green-100 dark:hover:bg-green-300">
                        <td class="p-4">
                            <img [src]="carProductItem.product.imageCover" class="w-16 md:w-32 max-w-full max-h-full" [alt]="carProductItem.product.title">
                        </td>
                        <td class="px-6 py-4 font-semibold text-gray-900 ">
                            {{carProductItem.product.title}}
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center">
                                <button (click)="updateCart(carProductItem.product._id, carProductItem.count-1)" class="inline-flex items-center justify-center p-1 me-3 text-sm font-medium h-6 w-6 text-green-500 bg-white border border-green-300 rounded-full focus:outline-none hover:bg-green-100 focus:ring-4 focus:ring-green-200 dark:bg-gray-100 dark:text-green-900 dark:border-green-600 dark:hover:bg-gray-100 dark:hover:border-green-600 dark:focus:ring-green-700" type="button">
                                    <span class="sr-only">Quantity button</span>
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
                                    </svg>
                                </button>
                                <div>
                                    <input type="number" id="first_product" class="bg-green-50 w-14 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block px-2.5 py-1 dark:bg-gray-100 dark:border-gray-600 dark:placeholder-gray-900 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500" 
                                    [placeholder]="carProductItem.count" required />
                                </div>
                                <button (click)="updateCart(carProductItem.product._id,carProductItem.count+1)" class="inline-flex items-center justify-center h-6 w-6 p-1 ms-3 text-sm font-medium text-gray-500 bg-white border border-green-300 rounded-full focus:outline-none hover:bg-green-100 focus:ring-4 focus:ring-green-200 dark:bg-gray-100 dark:text-green-800 dark:border-green-600 dark:hover:bg-green-700 dark:hover:border-green-600 dark:focus:ring-green-700" type="button">
                                    <span class="sr-only">Quantity button</span>
                                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                        <td class="px-6 py-4 font-semibold text-green-900">
                           {{carProductItem.price}}EGP
                        </td>
                        <td class="px-6 py-4">
                            <a (click)="removeProduct(carProductItem.product._id)" class="cursor-pointer font-medium text-red-600 dark:text-red-500 hover:underline">Remove</a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <button (click)="clearAllProducts()" class="cursor-pointer text-end my-4 p-5 py-3 rounded-xl bg-red-600 text-white font-bold mx-auto">Clear All</button>
    </div>
    <div class="md:w-1/3">
            <div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-100 dark:border-green-700">
                <a href="#">
                    <img class="p-8 rounded-t-lg" src="Assets/images/freshcart-logo.svg" alt="product image" />
                </a>
                <div class="px-5 pb-5">
                    <a href="#">
                        <h5 class="text-xl font-semibold tracking-tight text-gray-900 "><strong>Pay Now: </strong>You Want To Complate Your Order!...</h5>
                    </a>

                    <div class=" mt-10 mx-auto text-center">
                        <h5 class="text-3xl font-bold text-gray-900 mb-5 ">{{totalPrice}} EGP</h5>
                        <button [routerLink]="['/checkout', cartid]" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Complate Order Now!</button>
                    </div>
                </div>
            </div>
    </div>
  </div>
</section>

}
@else {
    <section class="h-full p-5 mx-auto text-center grid center">
        <div class="mx-auto">
            <img src="Assets/images/cartempty/11329060.png" alt="cart emplty" class=" block">
        </div>
        <div>
            <h3 class="uppercase text-center text-black text-3xl font-bold mb-7">cart is empty </h3>
            <button routerLink="/products" class="bg-green-400 rounded-xl p-5 text-center font-semibold mx-auto mt-5">Shop Now !</button>

        </div>
    </section>
}

