<section class="w-[60%] mx-auto bg-slate-100 p-5 mt-5 shadow rounded-lg">
    <h1 class="p-5 font-bold text-green-500 text-center text-4xl">Checkout Payment</h1>
<form class="gap-4" [formGroup]="checkoutForm" (ngSubmit)="submit()">
    

    <div class="relative mb-3">
        <input formControlName="details"  type="text" id="details" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="details" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">Email</label>
    </div>
        <!-- @if(this.checkoutForm.get('details')?.errors &&this.checkoutForm.get('details')?.touched){
    <div class="p-4 bg-red-200 rounded-xl border border-red-500 mb-4">
        <p *ngIf="this.checkoutForm.get('details')?.errors?.['required']" class="text-red-900 uppercase">input required</p>
        <p *ngIf="this.checkoutForm.get('details')?.errors?.['details']" class="text-red-900 uppercase">input Not Valid</p>
     
    </div>
    }
    -->
    <div class="relative mb-3">
        <input formControlName="phone"  type="phone" id="phone" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="phone" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">phone</label>
    </div>
        <!-- @if(this.checkoutForm.get('phone')?.errors &&this.checkoutForm.get('phone')?.touched){
    <div class="p-4 bg-red-200 rounded-xl border border-red-500 mb-4">
        <p *ngIf="this.checkoutForm.get('phone')?.errors?.['required']" class="text-red-900 uppercase">input required</p>     
    </div>
} -->
    <div class="relative mb-3">
        <input formControlName="city"  type="text" id="city" class="block px-2.5 pb-2.5 pt-4 w-full text-sm text-gray-900 bg-transparent rounded-lg border-1 border-gray-300 appearance-none  dark:border-gray-600 dark:focus:border-green-500 focus:outline-none focus:ring-0 focus:border-green-600 peer" placeholder=" " />
        <label for="city" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-white  px-2 peer-focus:px-2 peer-focus:text-green-600 peer-focus:dark:text-green-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">city</label>
    </div>
        <!-- @if(this.checkoutForm.get('city')?.errors &&this.checkoutForm.get('city')?.touched){
    <div class="p-4 bg-red-200 rounded-xl border border-red-500 mb-4">
        <p *ngIf="this.checkoutForm.get('city')?.errors?.['required']" class="text-red-900 uppercase">input required</p>     
    </div>
} -->
   
    <button type="submit" class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
    Send</button>


</form>

</section>


